body {
    font-family: 'Arial', sans-serif;
    background-color: #d49191;
}

header {
    background-color: #dc3545;
    color: white;
    padding: 1rem;
    text-align: center;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ratio {
    margin-top: 1rem;
}

.for-contac{
    margin-bottom: 2rem;
}