body {
    font-family: 'Arial', sans-serif;
    background-color: #b5d3f2;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

.card {
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
}
