body {
    font-family: 'Arial', sans-serif;
    background-color: #9cc1a4;
}

header {
    background-color: #28a745;
    color: white;
    padding: 1rem;
    text-align: center;
}

h2 {
    color: #28a745;
}

.table {
    margin-top: 1rem;
}
